:root {
  --main-bg-color: #87ceeb;
  --secondary-bg-color: #d3edf8;
  --bg-color-hover: #e7e7e7;
  --main-text-color: #1b7a9f;
  --border-default: 1px solid #999;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 16px;
}
